<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col">#</th>
    <th scope="col">Product Name</th>
    <th scope="col">Opening Date</th>
    <th scope="col">Expiration Date</th>
    <th scope="col">Contact Type</th>
    <th scope="col">Email Notification</th>
    <th scope="col">Expired</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts; let i = index;">
    <td><input type="checkbox"/></td>
    <td>{{i + 1}}</td>
    <td>{{contact.name}}</td>
    <td>{{contact.openingDate}}</td>
    <td>{{contact.expirationDate}}</td>
    <td>{{contact.contactType}}</td>
    <td></td>
  </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary" (click)="handleOnclick()">Send Email</button>
