<div class="container">
  <div class="row">
    <div class="col-4"><img style="width: 70%" [src]="imgPath" [alt]="alt"></div>
    <div class="col-8">
      <app-layout></app-layout>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="onClick()">Do you want a cat?</button>
    <button type="button" class="btn btn-secondary" (click)="onHideClick()">Bye cat!</button>
  </div>
  <div class="row">
    <div *ngIf="isCatShowing && catImg">
      <img [src]="catImg">
    </div>
  </div>
</div>
